<a href="https://colab.research.google.com/github/HemanthYendeti/BASICML/blob/main/First%20notebook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

FIRST NOTEBOOK

In [ ]:
print("HELLO WORLD")

HELLO WORLD

SWAPPING TWO NUMBERS

In [ ]:
a=10
b=20

In [ ]:
c=a
a=b
b=c
print(a)
print(b)

20
10

EVEN OR ODD

In [ ]:
x=23
if (x%2==0):
  print("EVEN")
else:
  print("ODD")

ODD